.htaccess
php_errorlog
.DS_Store
uploaded/
.c9
php.ini
*.log
breathecode-47bde0820564.json
*.key
sec.txt

.sass-cache/

# certificate ssl from the hosting
.well-known/

#Webpack related stuff
node_modules/

#Composer related stuff
vendor/
!assets/js/vendor/

#apis global variables
/globals.php

#ignore any sqlite file
*.sqlite3