language: php
php:
  - 7.2
branches:
  only:
    master
before_install:
  - travis_retry composer self-update
  - composer install
script: ./vendor/bin/phpunit test/ --colors --bootstrap vendor/autoload.php
