//@import '~bootstrap/scss/bootstrap.scss';
//@import '~bootstrbootstrap-material-design.min.css

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.custom-4ga-navbar{
    background-color: #3f3f3f !important;
}

#heroSelect svg{
    color:#fff;
}

@media only screen and (max-width: 600px) {
    #heroUnit-main {
        padding: 25px;
    }
    
    #heroUnit-main h1 {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    #heroUnit-main div{
        font-size: 1.2rem !important;
    }
    #heroUnit-main form{
        width: 100%;
        margin-bottom: 0;
    }
    
}

@media only screen and (min-width: 1000px){
    #fabButton{
        right: 20vw;
    }
}

@media only screen and (min-width: 1650px){
    #fabButton{
        right: 30vw;
    }
}

@media only screen and (min-width: 2400px){
    #fabButton{
        right: 35vw;
    }
}

#heroUnit-main .MuiSvgIcon-root-57{
    color: white !important;
}