* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body{margin: 0; padding: 0;}
img {
  max-width: 100%;
}
.intro{
    background-color: #CDE6FE;
    padding: 10px;
}
.intro h1{ margin: 0;}

.timeline {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}
.timeline h2.break {
  display: block;
  width: 100%;
  font-family: arial;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 25px 0 25px 25px;
  position: relative;
  left: -5px;
}
.timeline ul {
  color: #282828;
  list-style-type: none;
  position: relative;
  padding: 25px 0 25px 10px;
  font-size: 14px;
  margin: 0;
}
.timeline ul:after {
  content: "";
  position: absolute;
  top: 0;
  left: -4.5px;
  bottom: 0;
  border-left: 1px solid #ccc;
  height: 100%;
}
.timeline ul li {
  margin: 15px 0 35px 10px;
  position: relative;
  display: block;
}
.timeline ul li:last-child {
  margin-bottom: 0px;
}
.timeline ul li .card {
  display: block;
  border: 1px solid #ccc;
  padding: 15px;
  background: #f1f1f1;
}
.timeline ul li h1 {
  font-family: georgia;
  color: #282828;
  margin: 0 0 15px 0;
}
.timeline ul li p {
  color: rgba(40, 40, 40, 0.5);
  font-family: arial;
  margin: 0 0 15px 0;
}
.timeline ul li .eyebrow {
  display: table;
  color: white;
  background-color: #282828;
  font-size: 9px;
  padding: 4px 7px;
  font-family: arial;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 8px;
  position: relative;
  top: 3.5px;
  outline: 2px solid white;
  z-index: 0;
  max-width: 300px;
  line-height: 1.2;
}
.timeline ul li .eyebrow:before {
  content: "";
  position: absolute;
  left: -20px;
  border-bottom: 1px solid #ccc;
  width: 20px;
  top: 9px;
  z-index: -1;
}
.timeline ul li:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgba(40, 40, 40, 0.5);
  position: absolute;
  z-index: 2;
  left: -30px;
  outline: 2px solid white;
  top: 7.5px;
}
.timeline ul li .eyebrow .daysago {
  position: absolute;
  right: -70px;
  top: 4px;
  font-family: inherit;
  text-transform: lowercase;
  background: white;
  color: black;
}
.m-video {
  -webkit-transform: translate3d(0, 0, 0);
  margin-bottom: 15px;
}
.m-video .m-video__inner {
  -webkit-transform: translate3d(0, 0, 0);
  position: relative;
  height: 0;
  padding-top: 56.25%;
  width: 100%;
  clear: both;
  overflow: hidden;
}
.m-video .m-video__inner .embed {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.m-video .m-video__inner .embed iframe,
.m-video .m-video__inner .embed object,
.m-video .m-video__inner .embed video {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
