@import '~bootstrap/scss/bootstrap.scss';


/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.form-group > ul{
    margin-bottom: 0;
    li:last-child{
        margin-bottom: 10px;
    }
}

.bordered-bottom{
    border-bottom: 5px solid lightblue;
}


.scroller-frame{
    position: relative;
    
    .day-scroller {
        overflow: hidden;
        // overflow-x: scroll;
        
        .nav-link{
            min-width: 80px;
        }
    }
    
    .left-scroller, .right-scroller{
        position: absolute;
        top: calc(50% - 15px);
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 100%;
        background: lightblue;
        color: white;
        font-weight:bolder;
        cursor: pointer;
        -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
        
        &:hover{
            background: #007bff;
        }
    }
    
    .left-scroller{
        left: -10px;
    }
    
    .right-scroller{
        right: -10px;
    }
}

.day-editor{
    label{
        font-weight: 600;
    }
    .form-group{
        margin-bottom: 2rem;
    }
}

.day-stepper{
    min-width: 2.2em;
}

.deletable-items {
    border-left: 1px solid #ccc;
    padding-left: 4px;
    
    li{
        position: relative;
        padding: 6px 32px 6px 5px;
        font-size: 0.85em;
    }
    li > button{
        position: absolute;
        padding: 1px 8px 3px;
        top: calc(50% - 13px);
        right: 5px;
        visibility: hidden;
    }
    li:hover {
        background-color: #e9ebec;
        > button{
            visibility: visible;
        }
    }
    li:not(:last-child){
        border-bottom:1px solid #e9ebec;
    }
}