body{
    overflow-x: hidden;
}

.full-width{
    width: 100%;
}

.custom-select{
    background: #fff !important;
}

.no-margin{
    margin: 0px;
}

.no-padding{
    padding: 0px;
}

.background-form{
    background-color: #add5ff;
}

.success{
    background-color: #a0dab5;
}

.warning{
    background-color: #ffc107;
}

.danger{
    background-color: #dc7676;
}

.text-black{
    color: black !important;
}

.read-more-list{
    color: #007bff;
    cursor: pointer;
}

//padding y list-style de aviso notifier
.bcnotifier{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.alert-info{
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    border-color: transparent;
}

.modal-not-found{
    padding-top: 40px;
    padding-bottom: 80px;
    .center-btn-modal{
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        button{
            margin: 0px 20px;
        }
    }
}